# Python bytecode
*.pyc
__pycache__/

# Virtual environment
venv/
.venv/

# Environment variables
.env
instance/

# Flask-specific
*.sqlite
celerybeat-schedule.*
.flaskenv

# IDE-specific files
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log